body {
  margin: 0;
}

.App {
  font-family: "Maitree", serif;
  text-align: center;
  color: #43a047;
}

h1 {
  margin-bottom: 0;
}

.grid-container{
  display: grid;
}

img{
  width: 100%;
}



img:hover{
  box-shadow: 0px 0px 3px 3px black;
}

button
{
  background-color: white;
  height: 30px;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.rojo
{
  background-color: red;
}
.blanco
{
  background-color: white;
}